# Environment
.env

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Build output
/bin/
/build/
/out/

# Editor files
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Local Go tarball
go*.tar.gz